# example file that contains the configuration keys but without the values.
# This file is used as en example and needs to be converted and filled with the necessary values for the specific installation.
# The application will be usable without this file, but the default values will be used and not all features will be available.

# Logging configuration
LOGGING_GLOBAL_LEVEL=
LOGGING_GLOBAL_TIME_FORMAT=
LOGGING_CONSOLE_LEVEL=
LOGGING_DB_LEVEL=
LOGGING_DB_COLLECTION=
LOGGING_CRASH_LEVEL=
LOGGING_CRASH_COLLECTION=
LOGGING_REJECTION_LEVEL=
LOGGING_REJECTION_COLLECTION=

# Redis configuration:
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_TTL=
REDIS_NO_READY_CHECK=

# MongoDB configuration:
MONGO_HOST=
MONGO_PORT=
MONGO_DB=
MONGO_USERNAME=
MONGO_PASSWORD=

# Postgres configuration:
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
